<html>
    <head>
        
    </head>
    <body>
        <h1>API server</h1>
        <p>
            <a href="/">ROOT</a>
          </p>
      
        <p>
            <a href="/api/addhtml">ADD</a>
        </p>
        <p>
            <a href="/api/mysqltest">MYSQL DB Test</a>
        </p>
        <p>
            <a href="/api/mysqltest2">MYSQL2 DB Test</a>
        </p>
    </body>
</html>